.form-cntrol,.form-group{
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;

}




.btn{
    font-size: 14px;
    padding: 18px 36px;

}
.btn-lg{
    font-size: 14px;
    padding: 18px 36px;

}
.btn{
    background-color: #9c27b0;
  color: #FFFFFF;

}
.btn-primary{
    background-color: #9c27b0;
  color: #FFFFFF;

}