<html>

    <body>
        <div class="jumbotron"> 
            <div class="container">
                <h2>MENTOR FEEDBACK FORM</h2>
                <div class="card-content">
                    <h4 class="card-title">Stacked Form</h4>
                    <form method="#" action="#">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Roll no</label>
                                            <input type="text" class="form">
                                            <span class="material-input"></span>
                                        </div>
                                        
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Interaction with students</label>
                                            <br>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio">Excellent
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio">Good
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio" >Average
                                                </div>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio" >Poor
                                                </div>
                                        <span class="material-input"></span>
                                        </div>
                                        
                                                                                
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Pace of Teaching</label>
                                            <br>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio1">Excellent
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio1">Good
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio1" >Average
                                                </div>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio1" >Poor
                                                </div>
                                        <span class="material-input"></span>
                                        </div>
                                        
                                                                                
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Timely Response</label>
                                            <br>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio2">Excellent
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio2">Good
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio2" >Average
                                                </div>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio2" >Poor
                                                </div>
                                        <span class="material-input"></span>
                                        </div>
                                        
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">No. of sessions</label>
                                            <br>
                                            <div class="radio-inline">
                                                  <input type="radio" name="optradio3">Excellent
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio3">Good
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio3" >Average
                                                </div>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio3" >Poor
                                                </div>
                                        <span class="material-input"></span>
                                        </div>
                                        
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Communication</label>
                                            <br>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio4">Excellent
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio4">Good
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio4" >Average
                                                </div>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio4" >Poor
                                                </div>
                                        <span class="material-input"></span>
                                        </div>
                                        
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Overall Experience</label>
                                            <br>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio5">Excellent
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio5">Good
                                                </div>
                                                <div class="radio-inline">
                                                  <input type="radio" name="optradio5" >Average
                                                </div>
                                             <div class="radio-inline">
                                                  <input type="radio" name="optradio5" >Poor
                                                </div>
                                        <span class="material-input"></span>
                                        </div>

                                        <div class="form-group">
                                          <label for="comment">Your Reviews:</label>
                                            <br>
                                          <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>


                            
                                        
                                        
                                         <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                    </form>
                                </div>
            </div>
    
        </div>
                
    </body> 
    
</html>