<div class="wrap">
    <nav class="nav-bar navbar-inverse navbar-fixed-top" role="navigation">
        <div id="top-menu" class="container-fluid active" ng-init="getforumUserName()">
            <a class="navbar-brand">Hi {{username}} Dac Forum</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <div class="dropdown" style="float: left;margin-right: 10px;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                            Search Tag wise
                                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li value="all" class="search-tag">All</li>
                            <li role="separator" class="divider"></li>
                            <li value="cpp" class="search-tag">C++</li>
                            <li value="ds" class="search-tag">Data Structures</li>
                            <li value="os" class="search-tag">Operating System</li>
                            <li value="java" class="search-tag">Java Technologies</li>
                            <li value="awp" class="search-tag">Web Programming</li>
                            <li value="net" class="search-tag">Dotnet</li>
                            <li value="se" class="search-tag">Software Engg.</li>
                            <li value="se" class="search-tag">Database Technologies</li>
                            <li value="ccee" class="search-tag">CCEE</li>
                            <li value="placement" class="search-tag">Placement</li>
                            <li value="communication" class="search-tag">Communications</li>
                            <li value="apti" class="search-tag">Aptitude</li>
                            <li role="separator" class="divider"></li>
                            <li value="other" class="search-tag">Other</li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-outline-info" style="margin-right: 507px;" ng-click="searchTagwise()">Search</button>
                    <button type="button" class="btn btn-outline-info logout" ng-click="performLogOut()">Logout</button>
                </form>
            </ul>
        </div>
    </nav>

    <div id="side-menu" role="navigation" style="z-index:0; margin-top: 67px;">
        <ul class="nav nav-list accordion">
            <li class="nav-header">
                <div class="link" ng-click="goToHomePage();" style="position: fixed;"><i class="glyphicon glyphicon-home" ></i>Home</div>
            </li>

        </ul>
    </div>

    <!--Body content-->
    <div class="content">
        <section class="content-inner container" style="overflow:scroll;margin-top: 67px;">
            <div class="row">

                <div class="jumbotron form-group" style="margin-top: 22px;margin-right: 20px;padding-bottom: 8px;padding-top: 23px;padding-left: 25px;">
                    <label style="margin-top: 1%; color:dodgerblue;">
                                Write your Question here...
                    </label>
                    <form class="row">
                        <textarea class="form-control col-sm-6" placeholder="Post your query here....." style="margin-right: 20px;width: 80%;" ng-model="posts.agendaText"></textarea>
                        <div class="dropdown" style="float: left;margin-right: 17px;margin-top: 15px;">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                            Set Tag
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li value="all">All</li>
                                <li role="separator" class="divider"></li>
                                <li value="cpp">C++</li>
                                <li value="ds">Data Structures</li>
                                <li value="os">Operating System</li>
                                <li value="java">Java Technologies</li>
                                <li value="awp">Web Programming</li>
                                <li value="net">Dotnet</li>
                                <li value="se">Software Engg.</li>
                                <li value="se">Database Technologies</li>
                                <li value="ccee">CCEE</li>
                                <li value="placement">Placement</li>
                                <li value="communication">Communications</li>
                                <li value="apti">Aptitude</li>
                                <li role="separator" class="divider"></li>
                                <li value="other">Other</li>
                            </ul>
                        </div>
                        <button class="btn btn-primary btn-block" style="width: 6%;margin-top: 16px;" type="submit" ng-click="postQuestion()">Post</button>
                        <dr>

                    </form>
                </div>

            </div>

            <div class="row" ng-init="forumInit()">

                <div class="jumbotron form-group list-group" style="margin-top: 22px;margin-right: 20px;padding-bottom: 8px;padding-top: 23px;padding-left: 25px;">
                    <label style="margin-top: 1%; color:dodgerblue;">
                                Questions to answer
                    </label>
                    <div class="list-group-item">
                        <div class="row">
                            <input class="form-control col-sm-6" placeholder="{{}}" disabled/>
                            <button class="btn btn-primary btn-block" style="width: 8%;margin-top: 16px;float: left;" type="submit" ng-click="answerQuestion()">Answer</button>
                            <input class="form-control col-sm-1" placeholder="tag" style="width: 10%;margin-left: 13px;margin-top: 16px;" placeholder="{{item.tag}}"
                                disabled></input>
                            <p style="font-size: 15px;margin-top: 55px;margin-left: 225px;">Posted By:{{Name}} at {{time}}</p>
                        </div>
                    </div>
                    <br>
                    <label style="margin-top: 1%; color:dodgerblue;">
                                Answered Questions
                    </label>
                    <div class="list-group-item">
                        <div class="row">
                            <label style="margin-top: 1%; color:dodgerblue;">
                                Question
                            </label>
                            <input class="form-control col-sm-6" placeholder="{{question}}" disabled/>                           
                            <input class="form-control col-sm-1" placeholder="tag" style="width: 10%;margin-top: 16px;" placeholder="{{item.tag}}"
                                disabled></input>
                            <p style="font-size: 15px;margin-top: 55px;margin-left: 150px;">Posted By:{{Name}} at {{time}}</p>
                        </div>
                        <br>
                        <div class="list-group-item">
                            <div class="row">
                                <label style="margin-top: 1%; color:dodgerblue;">
                                Answers
                                </label>
                                <input class="form-control col-sm-6" placeholder="Answer will be here" disabled/>
                                <button class="btn btn-primary btn-block" style="width: 11%;margin-top: 16px;float: left;" type="submit" ng-click="addToAnswers()">New Answer</button>
                                <button class="btn btn-primary btn-block" style="width: 13%;margin-top: -8px;float: left;" type="submit" ng-click="postComment()">Comment</button>
                                <p style="font-size: 15px;margin-top: 55px;margin-left: 150px;">Answered By:{{Name}} at {{time}}</p>

                            </div>
                            <br>
                            <div class="list-group-item">
                                <div class="row">
                                    <label style="margin-top: 1%; color:dodgerblue;">
                                Previous Comments
                                </label>
                                    <input type="text" class="form-control col-sm-6" placeholder="Comment will be here" disabled/>
                                    <p style="font-size: 15px;margin-top: 42px;">Comment By:{{Name}} at {{time}}</p>
                                    <button class="btn btn-primary btn-block" style="width: 13%;margin-top: -8px;float: left;" type="submit" ng-click="addToComments()">New Comment</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>
    </div>

</div>