<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Login Now</h2>
		    <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Username</label>
    <input type="text" class="form-control" placeholder="" ng-model="data.user" required minlength="5" maxlength="20">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" class="form-control" placeholder=""  ng-model="data.pwd" required minlength="5" maxlength="15">
  </div>
  <div class="form-group">
       
          <label class="btn btn-default btn-circle btn-lg"><input type="radio" name="q1"  ng-model="data.result"  ng-value='"1"'>Admin</label>
          <label class="btn btn-default btn-circle btn-lg"><input type="radio" name="q1" ng-model="data.result"  ng-value='"2"'>Student</label>
          <label class="btn btn-default btn-circle btn-lg"><input type="radio" name="q1"  ng-model="data.result"  ng-value='"3"'>Mentor</label>
       
  </div>
  
    <div class="form-check">
    <button type="submit" class="btn btn-login float-right" ng-click="clicked()">Submit</button>
  </div>
  
</form>
<div class="copy-text">Created with <i class="fa fa-heart"></i> Love by <a>Oceans 11</a></div>
		</div>
		<div class="col-md-8 banner-sec">
             <div class="banner-text">
    <h2>DAC Forum and Mentor Assessment</h2>
  </div>		   
		    
		</div>
	</div>
</div>
</section>