<div class="wrap">
    <nav class="nav-bar navbar-inverse" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="#">Brand</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <input type="text" class="form-control" placeholder="Search" />
                </form>
            </ul>
        </div>
    </nav>
    <aside id="side-menu" class="aside" role="navigation" style="z-index:0">
        <ul class="nav nav-list accordion">

            <li class="nav-header">
                <div class="link" ng-click="goToStudentHomePage()"><i class="glyphicon glyphicon-home"></i>Home<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentAgendaPage()"><i class="fa fa-lg fa-globe"></i>Agenda<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goTostudentFeedbackForm()"><i class="fa fa-lg fa-users"></i>Feedback<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToForum()"><i class="fa fa-cloud"></i>Forum<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentMarksTablePage()"><i class="fa fa-lg fa-map-marker"></i>Marks<i class="fa fa-chevron-down"></i></div>
            </li>
        </ul>
    </aside>

    <!--Body content-->
    <div class="content">
        <div class="top-bar">
            <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>
        </div>
        <section class="content-inner" style="width:80%">
            <div class="bs-example" ng-init="studentMarksInit()">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SR.NO</th>
                            <th>Subject</th>
                            <th>Marks</th>
                            <th>Total Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td>1</td>
                            <td>CPP</td>
                            <td>{{studentMarks.cpp}}</td>
                            <td>60</td>
                        </tr>
                        <tr class="success">
                            <td>2</td>
                            <td>DS</td>
                            <td>{{studentMarks.ds}}</td>
                            <td>60</td>
                        </tr>
                        <tr class="info">
                            <td>3</td>
                            <td>OS</td>
                            <td>{{studentMarks.os}}</td>
                            <td>60</td>
                        </tr>
                        <tr class="warning">
                            <td>4</td>
                            <td>J2SE</td>
                            <td>{{studentMarks.j2se}}</td>
                            <td>60</td>
                        </tr>
                        <tr class="danger">
                            <td>5</td>
                            <td>AWP</td>
                            <td>{{studentMarks.awp}}</td>
                            <td>60</td>>
                        </tr>
                        <tr class="active">
                            <td>6</td>
                            <td>J2EE</td>
                            <td>{{studentMarks.j2ee}}</td>
                            <td>60</td>
                        </tr>
                        <tr class="success">
                            <td>7</td>
                            <td>DBT</td>
                            <td>{{studentMarks.dbt}}</td>
                            <td>60</td>
                        </tr>
                        <tr class="info">
                            <td>8</td>
                            <td>SE</td>
                            <td>{{studentMarks.se}}</td>
                            <td>60</td>
                        </tr>
                        <tr class="warning">
                            <td>9</td>
                            <td>.NET</td>
                            <td>{{studentMarks.net}}</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

</div>