<div class="wrap">
    <nav class="nav-bar navbar-inverse" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="#">Brand</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
                </form>

            </ul>
        </div>
    </nav>
    <aside id="side-menu" class="aside" role="navigation" style="z-index:0">
        <ul class="nav nav-list accordion">

            <li class="nav-header">
                <div class="link" ng-click="goToStudentHomePage()"><i class="glyphicon glyphicon-home"></i>Home<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentAgendaPage()"><i class="fa fa-lg fa-globe"></i>Agenda<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goTostudentFeedbackForm()"><i class="fa fa-lg fa-users"></i>Feedback<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToForum()"><i class="fa fa-cloud"></i>Forum<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentMarksTablePage()"><i class="fa fa-lg fa-map-marker"></i>Marks<i class="fa fa-chevron-down"></i></div>
            </li>
        </ul>
    </aside>

    <!--Body content-->
    <div class="content">
        <div class="top-bar">
            <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>
        </div>
        <section class="content-inner">
            <div class="jumbotron" ng-init="studentInit()">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Student Name:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentName" ng-model="studentData.name">{{studentData.name}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Student Rank:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentRank" ng-model="studentData.rank">{{studentData.rank}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Address:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentAddr" ng-model="studentData.address">{{studentData.address}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Contact Number:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentContact" ng-model="studentData.contactNo">{{studentData.contactNo}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Date Of Birth:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentDOB" ng-model="studentData.dateofbirth">{{studentData.dateofbirth}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Year Of Passing:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentYOP" ng-model="studentData.yearofpassing">{{studentData.yearofpassing}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Qualification:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentQali" ng-model="studentData.qualification">{{studentData.qualification}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Mentor Id:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentMentor" ng-model="studentData.mentorId">{{studentData.mentorId}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Student Id:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentId" ng-model="studentData.studentId">{{studentData.studentId}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Gender:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentgender" ng-model="studentData.gender">{{studentData.gender}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Team Id:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentTid" ng-model="studentData.teamId">{{studentData.teamId}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Batch:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentbatch" ng-model="studentData.batch">{{studentData.batch}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">State:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentstate" ng-model="studentData.state">{{studentData.state}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Parent Contact:</label>
                        <div class="col-sm-5" style="color: black" href="#/">
                            <label class="control-label col-sm-2" id="studentParentContact" ng-model="studentData.parentContact">{{studentData.parentContact}}</label>
                        </div>
                    </div>

                </form>
            </div>

        </section>
    </div>

</div>