<div class="wrap">
  <nav class="nav-bar navbar-inverse" role="navigation">
      <div id ="top-menu" class="container-fluid active">
          <a class="navbar-brand" href="#">Brand</a>
          <ul class="nav navbar-nav">        
              <form id="qform" class="navbar-form pull-left" role="search">
                 <input type="text" class="form-control" placeholder="Search" />
                 <button type="submit">Change Page</button>
               </form>
              <li class="dropdown movable">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span class="fa fa-4x fa-child"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><span class="fa fa-user"></span>My Profile</a></li>
                      <li><a href="#"><span class="fa fa-gear"></span>Settings</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><span class="fa fa-power-off"></span>Logout</a></li>
                  </ul>
              </li>
              
          </ul>
      </div>      
  </nav>

   <div id="side-menu" role="navigation" style="z-index:0">             
        <ul class="nav nav-list accordion">
        <li class="nav-header">
            <div class="link" ng-click="goHome();"><i class="	glyphicon glyphicon-home"></i>Home</div>
          </li>                    
          <li class="nav-header">
            <div class="link" ng-click="goTeam();"><i class="glyphicon glyphicon-stats"></i>Team Performance</div>
          </li>
          
          <li class="nav-header">
            <div class="link"><i class="glyphicon glyphicon-comment"></i>Forum</div>
          </li>
          
          <li class="nav-header">
            <div class="link"><i class="glyphicon glyphicon-hand-up"></i>Attendance</div>
          </li>  
          
           <li class="nav-header">
            <div class="link" ng-click="go();"><i class="glyphicon glyphicon-blackboard"></i>Agenda</div>
          </li>
          
      </ul>
  </div>
  
  <!--Body content-->
  <div class="content">
    <!-- <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div> -->
            <section class="content-inner container-fluid">
                <div class="jumbotron">
                <div class="row"  id="refIdForContent">
                    <div class=" col-sm-6" >

                        <blockquote class="my-post-content">
                            <img  src="images.png">
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
                            <fieldset>

                                <!-- Form Name -->
                                <legend><center><h2><b>Team Performance</b></h2></center></legend><br>

                                <!-- Text input-->

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Team Name</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input type="name" class="form-control">

                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->

                                <div class="form-group">
                                    <label class="col-md-4 control-label" >Team Id</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input type="id" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4"><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="button" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBack<span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>

            </div>
           </section>
    </div>

</div>
